@import '../abstracts/variables';

.footer {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    padding: 20px;

    &__content {
        color: $color-white;
        font-size: medium;
    }

    .logoIcon {
        width: 122px;
        height: 40px;
        fill: $color-white;
    }

}