@import '../abstracts/variables';

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 45px 50px 50px 50px;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    width: 20%;
    fill: $primary-color;
}

.navbar__navlink {
    padding-left: 10px;
    font-size: 1.5em;

    &:hover {
        text-decoration: underline 2px;
    }

}