@import '../abstracts/variables';

.header {
    display: flex;
    flex-direction: row;
    margin: 45px 100px 50px 100px;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    fill: $primary-color;
}

.navbar__navlink {
    padding-left: 60px;
    font-weight: 500;
    font-size: 1.5em;

    &:hover {
        text-decoration: underline 2px;
    }
}