.header {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
}

.navbar__navlink {
    padding-left: 10px;
    font-size: 1.5em;

    &:hover {
        text-decoration: underline 2px;
    }

    &:last-child {
        padding-right: 0;
    }

}