@use '../../styles/abstracts/variables' as var;

.footer {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var.$color-black;
    padding: 20px;

    &__content {
        color: var.$color-white;
        font-size: medium;
    }

    .logoIcon {
        width: 122px;
        height: 40px;
        fill: var.$color-white;
    }

}