@use '../../styles/abstracts/_mixins' as mix;
@use '../../styles/abstracts/variables' as var;

.logement-page {
    @include mix.document-horizontal-margin;

    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2em 0;
    }

    & .accordions-container {
        height: 250px;
        display: flex;
        justify-content: space-between;
        gap: 5em;
    }
}

.title-container {
    &__title {
        color: var.$primary-color;
        font-size: 2.25em;
        font-weight: 500;
        margin: 0;
    }

    &__location {
        font-size: 1.125em;
        font-weight: 500;
    }
}