@import '../abstracts/variables.scss';

.accordion__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: $primary-color;
    border-radius: 5px;

    &--content {
        margin: 10px;
        font-size: 1.5em;
        color: $color-white;
    }

    &--icon {
        fill: $color-white;
    }

}