//---------------------------------//
// This file contains all (or most of all) base variables used within the project
//--------------------------------//





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;







/// Primary color ///
/// @type Color
$primary-color: #FF6060;

/// Light Gray
/// @type Color
$color-light-gray: #F6F6F6;

/// Darker Gray
/// @type Color
$color-dark-gray: #C4C4C4;

/// Black
/// @type Color
$color-black: #000000;

/// White
/// @type Color 
$color-white: #FFFFFF;





/// Font sizes
/// @type Font