/// Font styles ///


/// Color ///


// Main Accent Color //
$main-color: #FF6060;

// White //
$white-color: #FFFF;

// Lighter Gray //
$lighter-gray-color: rgba(246, 246, 246, 45%);

// Light Gray //
$light-gray-color: #E3E3E3;

// Darker Gray //
$dark-gray-color: #C4C4C4;

// Black //
$black-color: #000000;
