@use '../../styles/abstracts/variables' as var;

.cards-gallery {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    padding: 55px;
    gap: 55px;
    margin: 40px 0;
    border-radius: 25px;
    background-color: var.$color-light-gray;
    place-items: center;

    @media screen and (max-width: var.$screen-size-small) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var.$color-white;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 0;
        gap: 20px;
    }
}