@use '../../styles/abstracts/index';

.cards-gallery {
    width: 100%;
    height: auto;
    flex-grow: 1;
    margin: 50px 0;
    background-color: index.$color-light-gray;
    border-radius: 25px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}